@import "tailwindcss";

.active {
  background-color: white;
  padding: 3px 3px;
}
.img {
  background: image(
    "https://images.pexels.com/photos/3947374/pexels-photo-3947374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  );
}
